*{margin: 0;padding: 0;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
html,body{height: 100%;background-color: #eee;}
a{text-decoration: none;}
.top-bar{
    position: fixed;width: 100%;height: 26px;font-size: 14px; background-color: rgb(30,144,255, 0.4);
    z-index: 9;
    /* @pro this.with = NearBar; */
}
.top-bar a{
    text-decoration: none;color: #fff;width: 35px;height: 20px;padding: 1px 5px;transition: 0.7s;
}
.top-bar a:hover{
    background-color: rgba(48, 124, 224, 0.866);
}
.page{
    width: 100%;height: 85%;
    padding: 2px 0;
    text-align: center;
    background-color: rgb(104, 197, 240);
    background-image: url(./image/background-themeSky.jpg); 
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.page>div{
    background-color: rgba(255, 255, 255, 0.225); position: relative; 
    top: 25%;padding: 5% 0;cursor: default;transition: 1s;border: none;
}
    .page>div:hover{padding: 7% 0;}
.page h1{
    font-size: 65px;
    color: #fff;
}
.page p{color:#fff;margin-top: 5px;}

#mainPage{
    display: block;padding: 30px 0;text-align: center;cursor: pointer;background-color: rgb(16, 19, 59);
    color: #fff;font-size: 25px;transition: 0.9s;text-decoration: none;
}
#mainPage:hover{
    background-color: rgba(238, 238, 238, 0.2);color: rgb(16, 19, 59);
}
#mainPage:active{transition: 1s;color:red;}

#pageIn{
    width: 100%;height: auto;
    background-color: #fff;
    background-attachment: fixed;
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#nearBar{
    transition: 0.8s;
    display: block;
    position: fixed;
    top: 25px;left: -50%;
    /* 默认侧滑栏于 -50% */
    width: 45%;height: 100%;
    background-color: #eee;
    border-right: 0.5px solid rgb(0, 0, 0, 0.5);
    overflow: auto;
    z-Index: 3;
    color: #414141;
}
#blackScreen{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;top: 0;left: 0;
    width: 100%;height: 100%;
    z-index: 1;display: none;
}
#nearBar h2{color: rgba(0, 0, 0, 0.85);}
#nearBar h3{padding: 3px 5px;}
#nearBar>ul>li{display: block;padding: 3px 6px;width: 100%;border-bottom: 0.5px solid #4e4a4a;z-index:3;list-style-type: square;}
#nearBar>ul>li:hover{background-color: #99ccff;color: #fff;transition: 0.8s;}
#nearBar>ul>li>a{color:rgb(0, 0, 0);text-decoration: none;display:block;}

.mainBar{ background-color: rgb(255, 255, 255, 0.3);
	width: 100%;height: 100%;padding: 20px 0 100% 0;}

.init{
	width: 94%;background: rgb(255,255,255,0.85);
	margin: 10px auto;padding: 8px;border: 2px solid #eee;
	box-shadow: 2px 2px 2px gravy;outline: 7px solid #eee;
	color: #0b0b3b;
}	
	
.textBar{
	margin: 13px auto;
	width: 92%;
	padding: 13px;
	background-color: rgb(255, 255, 255, 0.95);
	box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.7);
	color: #414141;
	border-radius: 7px;
	border: 2px solid #eee;
	transition: 0.7s;
}
	.textBar:hover{
		padding: 16px;box-shadow: 8px 8px 8px rgb (0,0,0,0.8);
	}
	.textBar>a{
		color: #3461e5;
	}
	
        #srcForArticle{
            padding: 14px 12px;
            background-color: #eee;
            cursor: default;
            transition: 0.8s;
            height: 150px;
            overflow: hidden;
        }
        #srcForArticle a:hover{
            transition: 1.3s;
            background-color: rgba(149, 189, 229);
            background-image: linear-gradient(to right,rgb(149,189,229),rgb(136,149,198),rgb(255, 255, 255));
        }
         #srcForArticle a{
            display: block;
            text-decoration: none;
            color: rgb(45, 135, 196);
            transition: 1.3s;
            border-radius: 8px;
            height: 25px;padding: 0 8px;
        }
        
        #in_more{ 
            transition: 0.7s;
            padding: 9px 6px;color: #fff;
            background-color: rgb(57, 119, 212);
            width: 100px;border-radius: 3px;
            text-align: center;
            margin: 5px 8px;
        }
       #in_more:hover{background-color: #fff;color: rgb(57, 119, 212);
       padding: 8px 55px;border: 1px solid rgb(57, 119, 212);}
	
.footer{background-color: #fcfcfc;color: #9f9f9f;padding: 5px 2px;}
    
    
